<launch>

<arg name="use_xacro" default="false"/>

<arg if="$(arg use_xacro)" name="filename" default="filev3.xacro"/>
<arg unless="$(arg use_xacro)" name="filename" default="new.urdf"/>

<arg name="file" default="$(find try1)/urdf/$(arg filename)"/>

<param name="robot_description" textfile="$(arg file)"/>

<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>

<node pkg="rviz" type="rviz" name="rviz" args="-d $(find try1)/config/config.rviz" required="true"/>

</launch>
